<template>
  <div id="awal" class="induk">
    <Navbar/>
    <br /><br />
    <h1>Selamat Datang</h1>
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="true"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="https://media.istockphoto.com/vectors/banner-design-template-on-a-black-background-in-retro-pop-art-style-vector-id1271556746"
            class="d-block"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://idcloudhost.com/wp-content/uploads/2021/11/Promo-Black-Friday-Diskon-90-Hosting-_-IDCloudhost.jpg"
            class="d-block"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="https://i0.wp.com/aedownload.com/wp-content/uploads/2021/09/1920-13.jpg?fit=590%2C332&ssl=1&resize=350%2C200"
            class="d-block"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <br />
    <br />
    <!-- footer -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <div>
          <a class="logo" href="#"
            ><img
              class="mg"
              src="https://sosiallogi.com/wp-content/uploads/2021/07/Icon-warung-ekosos-PNG-Bg-Putih.png"
              alt=""
            />
            Warung Online Binusa
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="mt-4">
            <div class="mapouter">
              <div class="gmap_canvas">
                <iframe
                  src="https://maps.google.com/maps?q=smk%20bina%20nusantara%20semarang&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                  id="gmap_canvas"
                  frameborder="0"
                  scrolling="no"
                  style="width: 400px; height: 200px; margin-left: 40px"
                ></iframe
                ><a href="https://fnftest.net" style="display: none"
                  >FNF Test Unblocked</a
                ><a
                  href="https://www.jixplay.com/indiegames/"
                  style="display: none"
                  >indie games</a
                ><a href="https://fnfmod.net" style="display: none">fnf mods</a>
              </div>
            </div>
          </div>
        </div>
        <div class="foot" id="navbarNav">
          <ul>
            <li>
              <a aria-current="page" href="/"
                ><b><i class="fas fa-home"></i>Home</b></a
              >
            </li>
            <br />
            <li>
              <a href="/menu"
                ><b><i class="fas fa-bars"></i>Menu</b>
              </a>
            </li>
            <br />
          </ul>
        </div>
        <div class="icon-footer">
          <div class="icon">
            <h4>Media Social :</h4>
            <a
              class="btn btn-primary my-2 my-sm-0"
              href="https://www.facebook.com/smkbinusasmg/"
            >
              <i class="fab fa-facebook"></i
            ></a>
            <a
              class="btn btn-danger my-2 my-sm-0"
              style="background-image: linear-gradient(pink, purple)"
              href="https://www.instagram.com/smkbinanusantara_smg/"
            >
              <i class="fab fa-instagram-square"></i
            ></a>
            <a
              class="btn btn-danger my-2 my-sm-0"
              href="https://www.youtube.com/channel/UCw5YNITJ8UTpWB9N55saWhw/videos"
            >
              <i class="fab fa-youtube"></i
            ></a>
          </div>
        </div>
      </div>
    </nav>

    <div class="copyright">
      <p>
        <a href=""> <i class="far fa-copyright"></i></a> Copyright --Kelompok
        3--
      </p>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";

export default {
  name: "AwalPage",
  components:{
    Navbar,
  }
};
</script>
<style scoped>
.induk {
  background-image: url(https://www.qhomemart.com/blog/wp-content/uploads/2020/08/bata-putih-scaled.jpg);
}
img {
  width: 50%;
  margin-left: 25%;
}
.mg {
  width: 100px;
}
.foot {
  margin-right: 10%;
}
a {
  text-decoration: none;
  color: white;
}
.icon-footer {
  margin-right: 10%;
}
.copyright {
  background-color: black;
  color: white;
  text-align: center;
}
.foot, h4 {
  color: white;
}
.nav-item {
  padding: 5px;
  border: 1px solid;
  border-color: white;
  margin-left: 180px;
}
.image {
  width: 50px;
  color: white;
}
.nav-link {
  color: white;
}
h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  gap: 20px;
  text-align: center;
}
.navbar {
  background-color: black;
}
a {
  color: white;
}
.logo {
  font-size: 20px;
  text-decoration: none;
  font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-right: 10px;
}
.klik {
  margin-right: 20px;
}
</style>