<template>
  <div id="cart">
    <Navbar />
<br>

    <table class="table table-dark table-hover text-center">
      <thead>
        <tr>
          <th>No.</th>
          <th>Nama Barang</th>
          <th>Image</th>
          <th>Harga</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- mengambil data cart -->
        <tr v-for="(user, index) in cart" :key="user.id">
          <td>{{ index + 1 }}</td>
          <td>{{ user.namabarang }}</td>
          <td><img :src="user.image" alt="" width="150" /></td>
          <td>{{ user.harga }}</td>
          <td>
            <button class="btn btn-danger" @click="hapusCart(user)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      Total Harga :
      {{
        totalHarga.toLocaleString("id-ID", {
          style: "currency",
          currency: "IDR",
        })
      }}
    </p>
    <button class="btn btn-danger" @click="checkout()">Checkout</button>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import Navbar from "../components/Navbar.vue";

export default {
  name: "CartPage",
  components: {
    Navbar,
  },
  computed: {
    totalHarga() {
      return this.cart.reduce((a, b) => a + b.harga, 0);
    },
  },
  methods: {
    hapusCart(user) {
      this.setCart(this.cart.filter((x) => x.id !== user.id));
    },
    checkout() {
      if (!this.totalHarga)
        return Swal.fire(
          "GAGAL!",
          "Anda harus memilih produk terlebih dahulu",
          "error"
        );
      this.$router.push("/");
      window.location.reload();
      Swal.fire({
        icon: "success",
        title: "checkout berhasil!!",
        showConfirmButton: false,
        timer: 2000,
      });
    },
  },
  // menerima data dari parent
  props: {
    cart: Array,
    setCart: Function,
  },
};
</script>

