<template>
  <div id="data" class="induk">
    <Navbar />
    <!-- <Makanan/> -->
    <h1><b>Categori :</b></h1>
    <div class="data">
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
          @click="makanan()"
        >
          <i class="fa-solid fa-utensils"></i> Makanan
        </a>
      </p>
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseExample2"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample2"
          @click="minuman()"
        >
          <i class="fa-solid fa-champagne-glasses"></i> Minuman
        </a>
      </p>
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseExample3"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample3"
          @click="sembako()"
        >
          <i class="fa-solid fa-cart-shopping"></i> Sembako
        </a>
      </p>
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseExample4"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample4"
          @click="obat()"
        >
          <i class="fa-solid fa-prescription-bottle-medical"></i> Obat
        </a>
      </p>
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseExample9"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample9"
          @click="mainan()"
        >
          <i class="fa-thin fa-teddy-bear"></i> Mainan
        </a>
      </p>
    </div>
    <div class="data">
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseExample5"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample5"
          @click="ringan()"
        >
          <i class="fa-solid fa-cookie-bite"></i> Makanan Ringan
        </a>
      </p>
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseExample6"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample6"
          @click="siswa()"
        >
          <i class="fa-solid fa-school"></i> Kebutuhan Siswa
        </a>
      </p>
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseExample7"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample7"
          @click="alat()"
        >
          <i class="fa-solid fa-screwdriver-wrench"></i> Alat Tulis
        </a>
      </p>
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseExample8"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample8"
          @click="buku()"
        >
          <i class="fa-solid fa-book"></i> Buku
        </a>
      </p>
      <p>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseExample10"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample10"
          @click="perlengkapan()"
        >
          <i class="fa-solid fa-sink"></i> Perlengkapan km
        </a>
      </p>
    </div>
    <!-- data makanan -->
    <div class="collapse" id="collapseExample" v-if="makananToggle">
      <div class="card card-body">
        <div class="table">
          <!-- add -->
          <button
            style="margin-left: 90%"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Add Makan
          </button>
          <br />
          <br />
          <table class="table table-dark table-striped">
            <thead>
              <!-- table -->
              <tr style="text-align: center">
                <th>No</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
                <th>Gambar</th>
                <th>Expired</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(makananbarat, index) in makananberats"
                :key="makananbarat.id"
                style="text-align: center"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ makananbarat.namabarang }}</td>
                <td>{{ makananbarat.deskripsi }}</td>
                <td><img :src="makananbarat.image" alt="" width="150" /></td>
                <td>{{ makananbarat.exp }}</td>
                <td style="text-align: center">
                  <button
                    class="klik btn btn-primary"
                    @click="edit(makananbarat)"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>Edit
                  </button>
                  ||
                  <button
                    class="klik btn btn-danger"
                    @click="del(makananbarat)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal makanan -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                from <span v-show="!updateSubmitmakan">Tambah</span>
                <span v-show="updateSubmitmakan">Update</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="add">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nama Barang</label
                  >
                  <input
                    type="text"
                    v-model="form.namabarang"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Deskripsi</label
                  >
                  <input
                    type="text"
                    v-model="form.deskripsi"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Image</label
                  >
                  <input
                    type="text"
                    v-model="form.image"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Expired</label
                  >
                  <input
                    type="text"
                    v-model="form.exp"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <br />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                ||
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="!updateSubmitmakan"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="updateSubmitmakan"
                  @click="update(form)"
                >
                  update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- data minuman -->

    <div class="collapse" id="collapseExample2" v-if="minumanToggle">
      <div class="card card-body">
        <div class="table">
          <!-- add minuman -->
          <button
            style="margin-left: 90%"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#MinumModal"
          >
            Add Minum
          </button>
          <br />
          <br />
          <table class="table table-dark table-striped">
            <thead>
              <!-- table minuman -->
              <tr style="text-align: center">
                <th>No</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
                <th>Gambar</th>
                <th>Expired</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(minuman, index) in minumans"
                :key="minuman.id"
                style="text-align: center"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ minuman.namabarang }}</td>
                <td>{{ minuman.deskripsi }}</td>
                <td><img :src="minuman.image" alt="" width="150" /></td>
                <td>{{ minuman.exp }}</td>
                <td style="text-align: center">
                  <button
                    class="klik btn btn-primary"
                    @click="editminum(minuman)"
                    data-bs-toggle="modal"
                    data-bs-target="#MinumModal"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>Edit
                  </button>
                  ||
                  <button
                    class="klik btn btn-danger"
                    @click="delminum(minuman)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal minuman -->
      <div
        class="modal fade"
        id="MinumModal"
        tabindex="-1"
        aria-labelledby="MinumModallabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="MinumModallabel">
                from <span v-show="!updateSubmitminum">Tambah Minum</span>
                <span v-show="updateSubmitminum">Update</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addminum">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nama Barang</label
                  >
                  <input
                    type="text"
                    v-model="formminum.namabarang"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Deskripsi</label
                  >
                  <input
                    type="text"
                    v-model="formminum.deskripsi"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Image</label
                  >
                  <input
                    type="text"
                    v-model="formminum.image"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Expired</label
                  >
                  <input
                    type="text"
                    v-model="formminum.exp"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <br />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                ||
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="!updateSubmitminum"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="updateSubmitminum"
                  @click="updateminum(formminum)"
                >
                  update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- data sembako -->
    <div class="collapse" id="collapseExample3" v-if="sembakoToggle">
      <div class="card card-body">
        <div class="table">
          <!-- add sembako -->
          <button
            style="margin-left: 90%"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#SembakoModal"
          >
            Add sembako
          </button>
          <br />
          <br />
          <table class="table table-dark table-striped">
            <thead>
              <!-- table sembako -->
              <tr style="text-align: center">
                <th>No</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
                <th>Gambar</th>
                <th>Expired</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(sembako, index) in sembakos"
                :key="sembako.id"
                style="text-align: center"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ sembako.namabarang }}</td>
                <td>{{ sembako.deskripsi }}</td>
                <td><img :src="sembako.image" alt="" width="150" /></td>
                <td>{{ sembako.exp }}</td>
                <td style="text-align: center">
                  <button
                    class="klik btn btn-primary"
                    @click="Edit(sembako)"
                    data-bs-toggle="modal"
                    data-bs-target="#SembakoModal"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>Edit
                  </button>
                  ||
                  <button class="klik btn btn-danger" @click="Del(sembako)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal sembako -->
      <div
        class="modal fade"
        id="SembakoModal"
        tabindex="-1"
        aria-labelledby="sembakoModallabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="sembakoModallabel">
                from <span v-show="!updateSubmitsembako">Tambah</span>
                <span v-show="updateSubmitsembako">Update</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addsembako">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nama Barang</label
                  >
                  <input
                    type="text"
                    v-model="formsembako.namabarang"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Deskripsi</label
                  >
                  <input
                    type="text"
                    v-model="formsembako.deskripsi"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Image</label
                  >
                  <input
                    type="text"
                    v-model="formsembako.image"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Expired</label
                  >
                  <input
                    type="text"
                    v-model="formsembako.exp"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <br />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                ||
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="!updateSubmitsembako"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="updateSubmitsembako"
                  @click="Update(formsembako)"
                >
                  update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- data Obat -->
    <div class="collapse" id="collapseExample4" v-if="obatToggle">
      <div class="card card-body">
        <div class="table">
          <!-- add Obat -->
          <button
            style="margin-left: 90%"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#obatModal"
          >
            Add Obat
          </button>
          <br />
          <br />
          <table class="table table-dark table-striped">
            <thead>
              <!-- table Obat -->
              <tr style="text-align: center">
                <th>No</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
                <th>Gambar</th>
                <th>Expired</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(obat, index) in obats"
                :key="obat.id"
                style="text-align: center"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ obat.namabarang }}</td>
                <td>{{ obat.deskripsi }}</td>
                <td><img :src="obat.image" alt="" width="150" /></td>
                <td>{{ obat.exp }}</td>
                <td style="text-align: center">
                  <button
                    class="klik btn btn-primary"
                    @click="editobat(obat)"
                    data-bs-toggle="modal"
                    data-bs-target="#obatModal"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>Edit
                  </button>
                  ||
                  <button class="klik btn btn-danger" @click="delobat(obat)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal Obat -->
      <div
        class="modal fade"
        id="obatModal"
        tabindex="-1"
        aria-labelledby="obatModallabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="obatModallabel">
                from <span v-show="!updateSubmitobat">Tambah</span>
                <span v-show="updateSubmitobat">Update</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addobat">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nama Barang</label
                  >
                  <input
                    type="text"
                    v-model="formringan.namabarang"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Deskripsi</label
                  >
                  <input
                    type="text"
                    v-model="formobat.deskripsi"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Image</label
                  >
                  <input
                    type="text"
                    v-model="formobat.image"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Expired</label
                  >
                  <input
                    type="text"
                    v-model="formobat.exp"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <br />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                ||
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="!updateSubmitobat"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="updateSubmitobat"
                  @click="updateobat(formobat)"
                >
                  update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- data makanan ringan -->
    <div class="collapse" id="collapseExample5" v-if="ringanToggle">
      <div class="card card-body">
        <div class="table">
          <!-- add ringan -->
          <button
            style="margin-left: 85%"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#ringanModal"
          >
            Add makanan ringan
          </button>
          <br />
          <br />
          <table class="table table-dark table-striped">
            <thead>
              <!-- table ringan -->
              <tr style="text-align: center">
                <th>No</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
                <th>Gambar</th>
                <th>Expired</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(ringan, index) in ringans"
                :key="ringan.id"
                style="text-align: center"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ ringan.namabarang }}</td>
                <td>{{ ringan.deskripsi }}</td>
                <td><img :src="ringan.image" alt="" width="150" /></td>
                <td>{{ ringan.exp }}</td>
                <td style="text-align: center">
                  <button
                    class="klik btn btn-primary"
                    @click="editringan(ringan)"
                    data-bs-toggle="modal"
                    data-bs-target="#ringanModal"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>Edit
                  </button>
                  ||
                  <button
                    class="klik btn btn-danger"
                    @click="delringan(ringan)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal makanan ringan -->
      <div
        class="modal fade"
        id="ringanModal"
        tabindex="-1"
        aria-labelledby="ringanModallabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="ringanModallabel">
                from <span v-show="!updateSubmitringan">Tambah</span>
                <span v-show="updateSubmitringan">Update</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addringan">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nama Barang</label
                  >
                  <input
                    type="text"
                    v-model="formringan.namabarang"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Deskripsi</label
                  >
                  <input
                    type="text"
                    v-model="formringan.deskripsi"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Image</label
                  >
                  <input
                    type="text"
                    v-model="formringan.image"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Expired</label
                  >
                  <input
                    type="text"
                    v-model="formringan.exp"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <br />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                ||
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="!updateSubmitringan"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="updateSubmitringan"
                  @click="updateringan(formringan)"
                >
                  update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--data siswa  -->
    <div class="collapse" id="collapseExample6" v-if="siswaToggle">
      <div class="card card-body">
        <div class="table">
          <!-- add siswa -->
          <button
            style="margin-left: 85%"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#siswaModal"
          >
            Add kebutuhan siswa
          </button>
          <br />
          <br />
          <table class="table table-dark table-striped">
            <thead>
              <!-- table siswa -->
              <tr style="text-align: center">
                <th>No</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
                <th>Gambar</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(siswa, index) in siswas"
                :key="siswa.id"
                style="text-align: center"
              >
                <td>{{ index + 1 }}</td>

                <td>{{ siswa.namabarang }}</td>
                <td>{{ siswa.deskripsi }}</td>
                <td><img :src="siswa.image" alt="" width="150" /></td>
                <td>{{ siswa.type }}</td>
                <td style="text-align: center">
                  <button
                    class="klik btn btn-primary"
                    @click="editsiswa(siswa)"
                    data-bs-toggle="modal"
                    data-bs-target="#siswaModal"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>Edit
                  </button>
                  ||
                  <button class="klik btn btn-danger" @click="delsiswa(siswa)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal kbthn siswa -->
      <div
        class="modal fade"
        id="siswaModal"
        tabindex="-1"
        aria-labelledby="siswaModallabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="siswaModallabel">
                from <span v-show="!updateSubmitsiswa">Tambah</span>
                <span v-show="updateSubmitsiswa">Update</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addsiswa">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nama Barang</label
                  >
                  <input
                    type="text"
                    v-model="formsiswa.namabarang"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Deskripsi</label
                  >
                  <input
                    type="text"
                    v-model="formsiswa.deskripsi"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Image</label
                  >
                  <input
                    type="text"
                    v-model="formsiswa.image"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Type</label
                  >
                  <input
                    type="text"
                    v-model="formsiswa.type"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <br />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                ||
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="!updateSubmitsiswa"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="updateSubmitsiswa"
                  @click="updatesiswa(formsiswa)"
                >
                  update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--data alat tulis  -->
    <div class="collapse" id="collapseExample7" v-if="alatToggle">
      <div class="card card-body">
        <div class="table">
          <!-- add alat tulis -->
          <button
            style="margin-left: 90%"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#alattulisModal"
          >
            Add Alat Tulis
          </button>
          <br />
          <br />
          <table class="table table-dark table-striped">
            <thead>
              <!-- table alat tulis -->
              <tr style="text-align: center">
                <th>No</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
                <th>Gambar</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(alat, index) in alattulis"
                :key="alat.id"
                style="text-align: center"
              >
                <td>{{ index + 1 }}</td>

                <td>{{ alat.namabarang }}</td>
                <td>{{ alat.deskripsi }}</td>
                <td><img :src="alat.image" alt="" width="150" /></td>
                <td>{{ alat.type }}</td>
                <td style="text-align: center">
                  <button
                    class="klik btn btn-primary"
                    @click="editalat(alat)"
                    data-bs-toggle="modal"
                    data-bs-target="#alattulisModal"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>Edit
                  </button>
                  ||
                  <button class="klik btn btn-danger" @click="delalat(alat)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal alat tulis -->
      <div
        class="modal fade"
        id="alattulisModal"
        tabindex="-1"
        aria-labelledby="alattulisModallabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="alattulisModallabel">
                from <span v-show="!updateSubmitalat">Tambah</span>
                <span v-show="updateSubmitalat">Update</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addalat">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nama Barang</label
                  >
                  <input
                    type="text"
                    v-model="formalat.namabarang"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Deskripsi</label
                  >
                  <input
                    type="text"
                    v-model="formalat.deskripsi"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Image</label
                  >
                  <input
                    type="text"
                    v-model="formalat.image"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Type</label
                  >
                  <input
                    type="text"
                    v-model="formalat.type"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <br />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                ||
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="!updateSubmitalat"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="updateSubmitalat"
                  @click="updatealat(formalat)"
                >
                  update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- data buku -->
    <div class="collapse" id="collapseExample8" v-if="bukuToggle">
      <div class="card card-body">
        <div class="table">
          <!-- add buku -->
          <button
            style="margin-left: 90%"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#bukuModal"
          >
            ADD Buku
          </button>
          <br />
          <br />
          <table class="table table-dark table-striped">
            <thead>
              <!-- table buku -->
              <tr style="text-align: center">
                <th>No</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
                <th>Gambar</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(buku, index) in bukus"
                :key="buku.id"
                style="text-align: center"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ buku.namabarang }}</td>
                <td>{{ buku.deskripsi }}</td>
                <td><img :src="buku.image" alt="" width="150" /></td>
                <td>{{ buku.type }}</td>
                <td style="text-align: center">
                  <button
                    class="klik btn btn-primary"
                    @click="editbuku(buku)"
                    data-bs-toggle="modal"
                    data-bs-target="#bukuModal"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>Edit
                  </button>
                  ||
                  <button class="klik btn btn-danger" @click="delbuku(buku)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal buku -->
      <div
        class="modal fade"
        id="bukuModal"
        tabindex="-1"
        aria-labelledby="bukuModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="bukuModalLabel">
                from <span v-show="!updateSubmitbuku">Tambah</span>
                <span v-show="updateSubmitbuku">Update</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addbuku">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nama Barang</label
                  >
                  <input
                    type="text"
                    v-model="formbuku.namabarang"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Deskripsi</label
                  >
                  <input
                    type="text"
                    v-model="formbuku.deskripsi"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Image</label
                  >
                  <input
                    type="text"
                    v-model="formbuku.image"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Type</label
                  >
                  <input
                    type="text"
                    v-model="formbuku.type"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <br />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                ||
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="!updateSubmitbuku"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="updateSubmitbuku"
                  @click="updatebuku(formbuku)"
                >
                  update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- data mainan -->
    <div class="collapse" id="collapseExample9" v-if="mainanToggle">
      <div class="card card-body">
        <div class="table">
          <!-- add mainan -->
          <button
            style="margin-left: 90%"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#mainanModal"
          >
            Add mainan
          </button>
          <br />
          <br />
          <table class="table table-dark table-striped">
            <thead>
              <!-- table mainan -->
              <tr style="text-align: center">
                <th>No</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
                <th>Gambar</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(mainan, index) in mainans"
                :key="mainan.id"
                style="text-align: center"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ mainan.namabarang }}</td>
                <td>{{ mainan.deskripsi }}</td>
                <td><img :src="mainan.image" alt="" width="150" /></td>
                <td>{{ mainan.type }}</td>
                <td style="text-align: center">
                  <button
                    class="klik btn btn-primary"
                    @click="editmainan(mainan)"
                    data-bs-toggle="modal"
                    data-bs-target="#mainanModal"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>Edit
                  </button>
                  ||
                  <button
                    class="klik btn btn-danger"
                    @click="delmainan(mainan)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal mainan  -->
      <div
        class="modal fade"
        id="mainanModal"
        tabindex="-1"
        aria-labelledby="mainanModallabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="mainanModallabel">
                from <span v-show="!updateSubmitmainan">Tambah</span>
                <span v-show="updateSubmitmainan">Update</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addmainan">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nama Barang</label
                  >
                  <input
                    type="text"
                    v-model="formmainan.namabarang"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Deskripsi</label
                  >
                  <input
                    type="text"
                    v-model="formmainan.deskripsi"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Image</label
                  >
                  <input
                    type="text"
                    v-model="formmainan.image"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Type</label
                  >
                  <input
                    type="text"
                    v-model="formmainan.type"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <br />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                ||
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="!updateSubmitmainan"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="updateSubmitmainan"
                  @click="updatemainan(formmainan)"
                >
                  update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- perlengkapan -->
    <div class="collapse" id="collapseExample10" v-if="perlengkapanToggle">
      <div class="card card-body">
        <div class="table">
          <!-- add perlengkapan -->
          <button
            style="margin-left: 85%"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#perlengkapanModal"
          >
            Add perlengkapan
          </button>
          <br />
          <br />
          <table class="table table-dark table-striped">
            <thead>
              <!-- table perlengkapan -->
              <tr style="text-align: center">
                <th>No</th>
                <th>Nama Barang</th>
                <th>Deskripsi</th>
                <th>Gambar</th>
                <th>Type</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(perlengkapan, index) in perlengkapans"
                :key="perlengkapan.id"
                style="text-align: center"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ perlengkapan.namabarang }}</td>
                <td>{{ perlengkapan.deskripsi }}</td>
                <td><img :src="perlengkapan.image" alt="" width="150" /></td>
                <td>{{ perlengkapan.type }}</td>
                <td style="text-align: center">
                  <button
                    class="klik btn btn-primary"
                    @click="editperlengkapan(perlengkapan)"
                    data-bs-toggle="modal"
                    data-bs-target="#perlengkapanModal"
                  >
                    <i class="fa-solid fa-pen-to-square"></i>Edit
                  </button>
                  ||
                  <button
                    class="klik btn btn-danger"
                    @click="delperlengkapan(perlengkapan)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Modal perlengkapan  -->
      <div
        class="modal fade"
        id="perlengkapanModal"
        tabindex="-1"
        aria-labelledby="perlengkapanModallabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="perlengkapanModallabel">
                from <span v-show="!updateSubmitperlengkapan">Tambah</span>
                <span v-show="updateSubmitperlengkapan">Update</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                @click="close"
              ></button>
            </div>
            <div class="modal-body">
              <form @submit.prevent="addperlengkapan">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Nama Barang</label
                  >
                  <input
                    type="text"
                    v-model="formperlengkapan.namabarang"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Deskripsi</label
                  >
                  <input
                    type="text"
                    v-model="formperlengkapan.deskripsi"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Image</label
                  >
                  <input
                    type="text"
                    v-model="formperlengkapan.image"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label"
                    >Type</label
                  >
                  <input
                    type="text"
                    v-model="formperlengkapan.type"
                    required
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                  />
                </div>
                <br />
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                ||
                <button
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="!updateSubmitperlengkapan"
                >
                  Save changes
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  v-show="updateSubmitperlengkapan"
                  @click="updateperlengkapan(formperlengkapan)"
                >
                  update
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Navbar from "../components/Navbar.vue";

export default {
  name: "DataPage",
  components: {
    Navbar,
  },
  data() {
    return {
      form: {
        id: "",
        namabarang: "",
        deskripsi: "",
        image: "",
        exp: "",
      },
      formminum: {
        id: "",
        namabarang: "",
        deskripsi: "",
        image: "",
        exp: "",
      },
      formsembako: {
        id: "",
        namabarang: "",
        deskripsi: "",
        image: "",
        exp: "",
      },
      formobat: {
        id: "",
        namabarang: "",
        deskripsi: "",
        image: "",
        exp: "",
      },
      formringan: {
        id: "",
        namabarang: "",
        deskripsi: "",
        image: "",
        exp: "",
      },
      formsiswa: {
        id: "",
        namabarang: "",
        deskripsi: "",
        image: "",
        type: "",
      },
      formalat: {
        id: "",
        namabarang: "",
        deskripsi: "",
        image: "",
        type: "",
      },
      formbuku: {
        id: "",
        namabarang: "",
        deskripsi: "",
        image: "",
        type: "",
      },
      formmainan: {
        id: "",
        namabarang: "",
        deskripsi: "",
        image: "",
        type: "",
      },
      formperlengkapan: {
        id: "",
        namabarang: "",
        deskripsi: "",
        image: "",
        type: "",
      },
      minumans: "",
      updateSubmitminum: false,
      makananberats: "",
      updateSubmitmakan: false,
      sembakos: "",
      updateSubmitsembako: false,
      obats: "",
      updateSubmitobat: false,
      ringans: "",
      updateSubmitringan: false,
      siswas: "",
      updateSubmitsiswa: false,
      alattulis: "",
      updateSubmitalat: false,
      bukus: "",
      updateSubmitbuku: false,
      mainans: "",
      updateSubmitmainan: false,
      perlengkapans: "",
      updateSubmitperlengkapan: false,

      makananToggle: false,
      minumanToggle: true,
      ringanToggle: true,
      obatToggle: true,
      siswaToggle: true,
      mainanToggle: true,
      alatToggle: true,
      sembakoToggle: true,
      bukuToggle: true,
      perlengkapanToggle: true,
    };
  },
  mounted() {
    this.load();
    this.loadminum();
    this.loadsembako();
    this.loadobat();
    this.loadringan();
    this.loadsiswa();
    this.loadalat();
    this.loadbuku();
    this.loadmainan();
    this.loadperlengkapan();
    if (!sessionStorage.getItem("USER_DATA")) {
      this.$router.push("/");
      this.load();
    }
  },
  methods: {
    makanan() {
      this.makananToggle = true;
      this.minumanToggle = false;
      this.ringanToggle = false;
      this.obatToggle = false;
      this.siswaToggle = false;
      this.mainanToggle = false;
      this.alatToggle = false;
      this.sembakoToggle = false;
      this.bukuToggle = false;
      this.perlengkapanToggle = false;
    },
    minuman() {
      this.minumanToggle = true;
      this.makananToggle = false;
      this.ringanToggle = false;
      this.obatToggle = false;
      this.siswaToggle = false;
      this.mainanToggle = false;
      this.alatToggle = false;
      this.sembakoToggle = false;
      this.bukuToggle = false;
      this.perlengkapanToggle = false;
    },
    ringan() {
      this.ringanToggle = true;
      this.minumanToggle = false;
      this.makananToggle = false;
      this.obatToggle = false;
      this.siswaToggle = false;
      this.mainanToggle = false;
      this.alatToggle = false;
      this.sembakoToggle = false;
      this.bukuToggle = false;
      this.perlengkapanToggle = false;
    },
    obat() {
      this.obatToggle = true;
      this.ringanToggle = false;
      this.minumanToggle = false;
      this.makananToggle = false;
      this.siswaToggle = false;
      this.mainanToggle = false;
      this.alatToggle = false;
      this.sembakoToggle = false;
      this.bukuToggle = false;
      this.perlengkapanToggle = false;
    },
    siswa() {
      this.siswaToggle = true;
      this.obatToggle = false;
      this.ringanToggle = false;
      this.minumanToggle = false;
      this.makananToggle = false;
      this.mainanToggle = false;
      this.alatToggle = false;
      this.sembakoToggle = false;
      this.bukuToggle = false;
      this.perlengkapanToggle = false;
    },
    alat() {
      this.alatToggle = true;
      this.siswaToggle = false;
      this.obatToggle = false;
      this.ringanToggle = false;
      this.minumanToggle = false;
      this.makananToggle = false;
      this.mainanToggle = false;
      this.sembakoToggle = false;
      this.bukuToggle = false;
      this.perlengkapanToggle = false;
    },
    sembako() {
      this.sembakoToggle = true;
      this.alatToggle = false;
      this.siswaToggle = false;
      this.obatToggle = false;
      this.ringanToggle = false;
      this.minumanToggle = false;
      this.makananToggle = false;
      this.mainanToggle = false;
      this.bukuToggle = false;
      this.perlengkapanToggle = false;
    },
    buku() {
      this.bukuToggle = true;
      this.sembakoToggle = false;
      this.alatToggle = false;
      this.siswaToggle = false;
      this.obatToggle = false;
      this.ringanToggle = false;
      this.minumanToggle = false;
      this.makananToggle = false;
      this.mainanToggle = false;
      this.perlengkapanToggle = false;
    },
    mainan() {
      this.mainanToggle = true;
      this.bukuToggle = false;
      this.sembakoToggle = false;
      this.alatToggle = false;
      this.siswaToggle = false;
      this.obatToggle = false;
      this.ringanToggle = false;
      this.minumanToggle = false;
      this.makananToggle = false;
      this.perlengkapanToggle = false;
    },
    perlengkapan() {
      this.perlengkapanToggle = true;
      this.bukuToggle = false;
      this.sembakoToggle = false;
      this.alatToggle = false;
      this.siswaToggle = false;
      this.obatToggle = false;
      this.ringanToggle = false;
      this.minumanToggle = false;
      this.makananToggle = false;
      this.mainanToggle = false;
    },

    load() {
      axios
        .get("http://localhost:3000/makananberats")
        .then((res) => {
          this.makananberats = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    loadminum() {
      axios
        .get("http://localhost:3000/minumans")
        .then((res) => {
          this.minumans = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    loadsembako() {
      axios
        .get("http://localhost:3000/sembakos")
        .then((res) => {
          this.sembakos = res.data; //respon dari rest api dimasukan ke sembakos
        })
        .catch((err) => {
          console.log(err);
        });
    },
    loadobat() {
      axios
        .get("http://localhost:3000/obats")
        .then((res) => {
          this.obats = res.data; //respon dari rest api dimasukan ke sembakos
        })
        .catch((err) => {
          console.log(err);
        });
    },
    loadringan() {
      axios
        .get("http://localhost:3000/ringans")
        .then((res) => {
          this.ringans = res.data; //respon dari rest api dimasukan ke sembakos
        })
        .catch((err) => {
          console.log(err);
        });
    },
    loadsiswa() {
      axios
        .get("http://localhost:3000/siswas")
        .then((res) => {
          this.siswas = res.data; //respon dari rest api dimasukan ke sembakos
        })
        .catch((err) => {
          console.log(err);
        });
    },
    loadalat() {
      axios
        .get("http://localhost:3000/alattulis")
        .then((res) => {
          this.alattulis = res.data; //respon dari rest api dimasukan ke sembakos
        })
        .catch((err) => {
          console.log(err);
        });
    },
    loadbuku() {
      axios
        .get("http://localhost:3000/bukus")
        .then((res) => {
          this.bukus = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    loadmainan() {
      axios
        .get("http://localhost:3000/mainans")
        .then((res) => {
          this.mainans = res.data; //respon dari rest api dimasukan ke sembakos
        })
        .catch((err) => {
          console.log(err);
        });
    },
    loadperlengkapan() {
      axios
        .get("http://localhost:3000/perlengkapans")
        .then((res) => {
          this.perlengkapans = res.data; //respon dari rest api dimasukan ke sembakos
        })
        .catch((err) => {
          console.log(err);
        });
    },
    // makanan
    add() {
      axios.post("http://localhost:3000/makananberats", this.form).then(() => {
        this.load();
        this.form.namabarang = "";
        this.form.deskripsi = "";
        this.form.image = "";
        this.form.exp = "";
      });
    },
    update(form) {
      return axios
        .put("http://localhost:3000/makananberats/" + form.id, {
          namabarang: this.form.namabarang,
          deskripsi: this.form.deskripsi,
          image: this.form.image,
          exp: this.form.exp,
        })
        .then(() => {
          this.load();
          this.form.id = "";
          this.form.namabarang = "";
          this.form.deskripsi = "";
          this.form.image = "";
          this.form.exp = "";
          this.updateSubmit = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    edit(makananbarat) {
      this.updateSubmitmakan = true;
      this.form.id = makananbarat.id;
      this.form.namabarang = makananbarat.namabarang;
      this.form.deskripsi = makananbarat.deskripsi;
      this.form.image = makananbarat.image;
      this.form.exp = makananbarat.exp;
    },
    del(makananbarat) {
      axios
        .delete("http://localhost:3000/makananberats/" + makananbarat.id)
        .then(() => {
          this.load();
          let index = this.makananberats.indexOf(
            this.namabarang,
            this.deskripsi,
            this.image,
            this.exp
          );
          this.makananberats.splice(index, 1);
        });
    },
    out() {
      sessionStorage.clear();
      this.$router.push("/");
    },
    close() {
      window.location.reload();
    },
    // minuman
    addminum() {
      axios.post("http://localhost:3000/minumans", this.formminum).then(() => {
        this.loadminum();
        this.formminum.namabarang = "";
        this.formminum.deskripsi = "";
        this.formminum.image = "";
        this.formminum.exp = "";
      });
    },
    updateminum(formminum) {
      return axios
        .put("http://localhost:3000/minumans/" + formminum.id, {
          namabarang: this.formminum.namabarang,
          deskripsi: this.formminum.deskripsi,
          image: formminum.image,
          exp: this.formminum.exp,
        })
        .then(() => {
          this.loadminum();
          this.formminum.id = "";
          this.formminum.namabarang = "";
          this.formminum.deskripsi = "";
          this.formminum.image = "";
          this.formminum.exp = "";
          this.updateSubmit = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    editminum(minuman) {
      this.updateSubmitminum = true;
      this.formminum.id = minuman.id;
      this.formminum.namabarang = minuman.namabarang;
      this.formminum.deskripsi = minuman.deskripsi;
      this.formminum.image = minuman.image;
      this.formminum.exp = minuman.exp;
    },
    delminum(minuman) {
      axios.delete("http://localhost:3000/minumans/" + minuman.id).then(() => {
        this.loadminum();
        let index = this.minum.indexOf(
          this.namabarang,
          this.deskripsi,
          this.image,
          this.exp
        );
        this.minumans.splice(index, 1);
      });
    },
    addsembako() {
      axios
        .post("http://localhost:3000/sembakos", this.formsembako)
        .then(() => {
          this.loadsembako();
          this.formsembako.namabarang = "";
          this.formsembako.deskripsi = "";
          this.formsembako.image = "";
          this.formsembako.exp = "";
        });
    },
    //  sembako
    Update(formsembako) {
      return axios
        .put("http://localhost:3000/sembakos/" + formsembako.id, {
          namabarang: this.formsembako.namabarang,
          deskripsi: this.formsembako.deskripsi,
          image: formsembako.image,
          exp: this.formsembako.exp,
        })
        .then(() => {
          this.loadsembako();
          this.formsembako.id = "";
          this.formsembako.namabarang = "";
          this.formsembako.deskripsi = "";
          this.formsembako.image = "";
          this.formsembako.exp = "";
          this.updateSubmit = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    Edit(sembako) {
      this.updateSubmitsembako = true;
      this.formsembako.id = sembako.id;
      this.formsembako.namabarang = sembako.namabarang;
      this.formsembako.deskripsi = sembako.deskripsi;
      this.formsembako.image = sembako.image;
      this.formsembako.exp = sembako.exp;
    },
    Del(sembako) {
      axios.delete("http://localhost:3000/sembakos/" + sembako.id).then(() => {
        this.loadsembako();
        let index = this.sembakos.indexOf(
          this.namabarang,
          this.deskripsi,
          this.image,
          this.exp
        );
        this.sembakos.splice(index, 1);
      });
    },
    //  Obat
    updateobat(formobat) {
      return axios
        .put("http://localhost:3000/obats/" + formobat.id, {
          namabarang: this.formobat.namabarang,
          deskripsi: this.formobat.deskripsi,
          image: formobat.image,
          exp: this.formobat.exp,
        })
        .then(() => {
          this.loadobat();
          this.formobat.id = "";
          this.formobat.namabarang = "";
          this.formobat.deskripsi = "";
          this.formobat.image = "";
          this.formobat.exp = "";
          this.updateSubmitobat = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    editobat(obat) {
      this.updateSubmitobat = true;
      this.formobat.id = obat.id;
      this.formobat.namabarang = obat.namabarang;
      this.formobat.deskripsi = obat.deskripsi;
      this.formobat.image = obat.image;
      this.formobat.exp = obat.exp;
    },
    delobat(obat) {
      axios.delete("http://localhost:3000/obats/" + obat.id).then(() => {
        this.loadobat();
        let index = this.obat.indexOf(
          this.namabarang,
          this.deskripsi,
          this.image,
          this.exp
        );
        this.obats.splice(index, 1);
      });
    },
    addobat() {
      axios.post("http://localhost:3000/obats/", this.formobat).then(() => {
        this.loadobat();
        this.formobat.namabarang = "";
        this.formobat.deskripsi = "";
        this.formobat.image = "";
        this.formobat.exp = "";
      });
    },
    // add ringan
    addringan() {
      axios.post("http://localhost:3000/ringans/", this.formringan).then(() => {
        this.loadringan();
        this.formringan.namabarang = "";
        this.formringan.deskripsi = "";
        this.formringan.image = "";
        this.formringan.exp = "";
      });
    },
    updateringan(formringan) {
      return axios
        .put("http://localhost:3000/ringans/" + formringan.id, {
          namabarang: this.formringan.namabarang,
          deskripsi: this.formringan.deskripsi,
          image: formringan.image,
          exp: this.formringan.exp,
        })
        .then(() => {
          this.loadringan();
          this.formringan.id = "";
          this.formringan.namabarang = "";
          this.formringan.deskripsi = "";
          this.formringan.image = "";
          this.formringan.exp = "";
          this.updateSubmitringan = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    editringan(ringan) {
      this.updateSubmitringan = true;
      this.formringan.id = ringan.id;
      this.formringan.namabarang = ringan.namabarang;
      this.formringan.deskripsi = ringan.deskripsi;
      this.formringan.image = ringan.image;
      this.formringan.exp = ringan.exp;
    },
    delringan(ringan) {
      axios.delete("http://localhost:3000/ringans/" + ringan.id).then(() => {
        this.loadringan();
        let index = this.ringan.indexOf(
          this.namabarang,
          this.deskripsi,
          this.image,
          this.exp
        );
        this.ringan.splice(index, 1);
      });
    },
    // add siswa
    addsiswa() {
      axios.post("http://localhost:3000/siswas/", this.formsiswa).then(() => {
        this.loadsiswa();
        this.formsiswa.namabarang = "";
        this.formsiswa.deskripsi = "";
        this.formsiswa.image = "";
        this.formsiswa.type = "";
      });
    },
    updatesiswa(formsiswa) {
      return axios
        .put("http://localhost:3000/siswas/" + formsiswa.id, {
          namabarang: this.formsiswa.namabarang,
          deskripsi: this.formsiswa.deskripsi,
          image: formsiswa.image,
          type: this.formsiswa.type,
        })
        .then(() => {
          this.loadsiswa();
          this.formsiswa.id = "";
          this.formsiswa.namabarang = "";
          this.formsiswa.deskripsi = "";
          this.formsiswa.image = "";
          this.formsiswa.type = "";
          this.updateSubmitsiswa = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    editsiswa(siswa) {
      this.updateSubmitsiswa = true;
      this.formsiswa.id = siswa.id;
      this.formsiswa.namabarang = siswa.namabarang;
      this.formsiswa.deskripsi = siswa.deskripsi;
      this.formsiswa.image = siswa.image;
      this.formsiswa.type = siswa.type;
    },
    delsiswa(siswa) {
      axios.delete("http://localhost:3000/siswas/" + siswa.id).then(() => {
        this.loadsiswa();
        let index = this.siswa.indexOf(
          this.namabarang,
          this.deskripsi,
          this.image,
          this.type
        );
        this.siswas.splice(index, 1);
      });
    },
    // add alat tulis
    addalat() {
      axios.post("http://localhost:3000/alattulis/", this.formalat).then(() => {
        this.loadalat();
        this.formalat.namabarang = "";
        this.formalat.deskripsi = "";
        this.formalat.image = "";
        this.formalat.type = "";
      });
    },
    updatealat(formalat) {
      return axios
        .put("http://localhost:3000/alattulis/" + formalat.id, {
          namabarang: this.formalat.namabarang,
          deskripsi: this.formalat.deskripsi,
          image: formalat.image,
          type: this.formalat.type,
        })
        .then(() => {
          this.loadalat();
          this.formalat.id = "";
          this.formalat.namabarang = "";
          this.formalat.deskripsi = "";
          this.formalat.image = "";
          this.formalat.type = "";
          this.updateSubmitalat = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    editalat(alat) {
      this.updateSubmitalat = true;
      this.formalat.id = alat.id;
      this.formalat.namabarang = alat.namabarang;
      this.formalat.deskripsi = alat.deskripsi;
      this.formalat.image = alat.image;
      this.formalat.type = alat.type;
    },
    delalat(alat) {
      axios.delete("http://localhost:3000/alattulis/" + alat.id).then(() => {
        this.loadalat();
        let index = this.alat.indexOf(
          this.namabarang,
          this.deskripsi,
          this.image,
          this.type
        );
        this.alattulis.splice(index, 1);
      });
    },
    // buku
    addbuku() {
      axios.post("http://localhost:3000/bukus/", this.formbuku).then(() => {
        this.loadbuku();
        this.formbuku.namabarang = "";
        this.formbuku.deskripsi = "";
        this.formbuku.image = "";
        this.formbuku.type = "";
      });
    },
    updatebuku(formbuku) {
      return axios
        .put("http://localhost:3000/bukus/" + formbuku.id, {
          namabarang: this.formbuku.namabarang,
          deskripsi: this.formbuku.deskripsi,
          image: formbuku.image,
          type: this.formbuku.type,
        })
        .then(() => {
          this.loadbuku();
          this.formbuku.id = "";
          this.formbuku.namabarang = "";
          this.formbuku.deskripsi = "";
          this.formbuku.image = "";
          this.formbuku.type = "";
          this.updateSubmitbuku = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    editbuku(buku) {
      this.updateSubmitbuku = true;
      this.formbuku.id = buku.id;
      this.formbuku.namabarang = buku.namabarang;
      this.formbuku.deskripsi = buku.deskripsi;
      this.formbuku.image = buku.image;
      this.formbuku.type = buku.type;
    },
    delbuku(buku) {
      axios.delete("http://localhost:3000/bukus/" + buku.id).then(() => {
        this.loadbuku();
        let index = this.buku.indexOf(
          this.namabarang,
          this.deskripsi,
          this.image,
          this.type
        );
        this.bukus.splice(index, 1);
      });
    },
    // mainan
    addmainan() {
      axios.post("http://localhost:3000/mainans/", this.formmainan).then(() => {
        this.loadmainan();
        this.formmainan.namabarang = "";
        this.formmainan.deskripsi = "";
        this.formmainan.image = "";
        this.formmainan.type = "";
      });
    },
    updatemainan(formmainan) {
      return axios
        .put("http://localhost:3000/mainans/" + formmainan.id, {
          namabarang: this.formmainan.namabarang,
          deskripsi: this.formmainan.deskripsi,
          image: formmainan.image,
          type: this.formmainan.type,
        })
        .then(() => {
          this.loadmainan();
          this.formmainan.id = "";
          this.formmainan.namabarang = "";
          this.formmainan.deskripsi = "";
          this.formmainan.image = "";
          this.formmainan.type = "";
          this.updateSubmitmainan = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    editmainan(mainan) {
      this.updateSubmitmainan = true;
      this.formmainan.id = mainan.id;
      this.formmainan.namabarang = mainan.namabarang;
      this.formmainan.deskripsi = mainan.deskripsi;
      this.formmainan.image = mainan.image;
      this.formmainan.type = mainan.type;
    },
    delmainan(mainan) {
      axios.delete("http://localhost:3000/mainans/" + mainan.id).then(() => {
        this.loadmainan();
        let index = this.mainan.indexOf(
          this.namabarang,
          this.deskripsi,
          this.image,
          this.type
        );
        this.mainans.splice(index, 1);
      });
    },
    // perlengkapan
    addperlengkapan() {
      axios
        .post("http://localhost:3000/perlengkapans/", this.formperlengkapan)
        .then(() => {
          this.loadperlengkapan();
          this.formperlengkapan.namabarang = "";
          this.formperlengkapan.deskripsi = "";
          this.formperlengkapan.image = "";
          this.formperlengkapan.type = "";
        });
    },
    updateperlengkapan(formperlengkapan) {
      return axios
        .put("http://localhost:3000/perlengkapans/" + formperlengkapan.id, {
          namabarang: this.formperlengkapan.namabarang,
          deskripsi: this.formperlengkapan.deskripsi,
          image: formperlengkapan.image,
          type: this.formperlengkapan.type,
        })
        .then(() => {
          this.loadperlengkapan();
          this.formperlengkapan.id = "";
          this.formperlengkapan.namabarang = "";
          this.formperlengkapan.deskripsi = "";
          this.formperlengkapan.image = "";
          this.formperlengkapan.type = "";
          this.updateSubmitperlengkapan = false;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    editperlengkapan(perlengkapan) {
      this.updateSubmitperlengkapan = true;
      this.formperlengkapan.id = perlengkapan.id;
      this.formperlengkapan.namabarang = perlengkapan.namabarang;
      this.formperlengkapan.deskripsi = perlengkapan.deskripsi;
      this.formperlengkapan.image = perlengkapan.image;
      this.formperlengkapan.type = perlengkapan.type;
    },
    delperlengkapan(perlengkapan) {
      axios
        .delete("http://localhost:3000/perlengkapans/" + perlengkapan.id)
        .then(() => {
          this.loadperlengkapan();
          let index = this.perlengkapan.indexOf(
            this.namabarang,
            this.deskripsi,
            this.image,
            this.type
          );
          this.perlengkapans.splice(index, 1);
        });
    },
  },
};
</script>

<style scoped>
.nav-item {
  padding: 5px;
  border: 1px solid;
  margin-left: 200px;
}
img {
  width: 50px;
}
.nav-link {
  color: black;
}
.data {
  display: flex;
}
h1 {
  margin-top: 5%;
  margin-right: 70%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}
.data {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 20px;
}
.table{
  width: 97%;
  margin-left: 20px;
}
td img{
  height: 90px;
  width: 150px
}
td{
  margin-top: 10%;
  padding: 5px;
}
</style>