<template>
  <div
    class="kotak_login"
    style="background-image: linear-gradient(gray, pink)"
  >
    <h4 class="tulisan_login">Silahkan Login</h4>
    <form @submit="login">
      <label>Username</label>
      <input
        type="text"
        required
        name="username"
        v-model="form.username"
        class="form_login"
        placeholder="Masukkan Username atau Email"
      />
      <label>Password</label>
      <input
        type="password"
        name="password"
        v-model="form.password"
        class="form_login"
        placeholder="Masukkan Password.."
      />
      <label>Pin</label>
      <input
        type="password"
        name="pin"
        v-model="form.pin"
        class="form_login"
        placeholder="Masukkan Pin.."
      />
      <button type="submit" class="btn btn-primary poll">Login</button>
      <br />
      <br />
      <!--jika tdk punya akun akan menuju ke register -->
      <center>
        <a href="/register" class="registerdonk">Register</a>
        <span class="notReg">Jika Tidak Memiliki Akun</span>
      </center>
    </form>
  </div>
</template>

<script>
import axios from "axios";
import Swal from "sweetalert2";

export default {
  name: "LoginPage",
  data() {
    return {
      form: {
        username: "",
        password: "",
        pin: "",
        useres: {},
      },
    };
  },
  methods: {
    async getUser() {
      const user = await axios.get("http://localhost:3000/akuns");
      this.useres = user.data;
    },
    // fungsi tombol login
    login(e) {
      e.preventDefault();
      const login = this.useres.find(
        (data) =>
          data.username === this.form.username &&
          data.password === this.form.password &&
          data.pin === Number (this.form.pin)
      );
      //  kondisi jika akun benar akan menuju langsung ke page home klo slaah muncul alert
      if (login === undefined) {
         return Swal.fire(
  'GAGAL!',
  'Username Or Password,Pin Not Found!!',
  'error'
)
        // mengambil data ke session storage
      } else {
        var convertToString = JSON.stringify(login);
        sessionStorage.setItem("USER_DATA", convertToString);
        // membuat key baru dan value berisi role agar terbaca
        sessionStorage.setItem("role", login.role);
        // kondisi jika sbg admin masuk ke home klo non admin ke user
        if (sessionStorage.getItem("role") === "admin") {
          this.$router.push("/admin");
          return Swal.fire("Selamat!!", "Login Berhasil!!", "success");
        } else {
          this.$router.push("/user");
          window.location.reload();
        }
      }
    },
  },
  mounted() {
    this.getUser();
    // fungsi toogle pda app.vue
    this.$emit("toggleBar");
  },
};
</script>