<template>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="logo" href="#"
        ><img
          class="image"
          src="https://i.pinimg.com/474x/15/f4/ca/15f4ca29f32b43c291528d0deaa4205e.jpg"
          alt=""
        />
        Warung Online
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" v-if="AdminAcces" >
            <a class="nav-link" aria-current="page" href="/admin"
              ><i class="fas fa-home"></i> Home</a
            >
          </li>
           <li class="nav-item" v-if="!login">
            <a class="nav-link" aria-current="page" href="/"
              ><i class="fas fa-home"></i> Home</a
            >
          </li>
           <li class="nav-item" v-if="SiswaAcces">
            <a class="nav-link" aria-current="page" href="/user"
              ><i class="fas fa-home"></i> Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu"
              ><i class="fas fa-bars"></i> Menu</a
            >
          </li>
          <li class="nav-item" v-if="AdminAcces">
            <a class="nav-link" href="/data"
              ><i class="fas fa-database"></i> Data</a
            >
          </li>
          <li class="nav-item" v-if="SiswaAcces">
            <router-link class="nav-link" to="/cart"
              ><i class="fas fa-cart-plus"></i> Cart</router-link
            >
          </li>
        </ul>
      </div>
    </div>
    <a
      v-if="login"
      class="klik btn btn-secondary my-2 my-sm-0"
      style="display: flex; gap: 5px"
      @click="out"
      href="/"
      ><i class="fas fa-sign-out-alt" style="margin-top: 4px"></i>Logout</a
    >
    <a
      v-if="!login"
      class="klik btn btn-secondary my-2 my-sm-0"
      style="display: flex; gap: 5px"
      @click="out"
      href="/login"
      ><i class="fas fa-sign-out-alt" style="margin-top: 4px"></i>Login</a
    >
  </nav>
</template>

<script>
export default {
  name: "NavbarNav",
  computed: {
    // untuk akses admin
    AdminAcces() {
      return sessionStorage.getItem("role") === "admin";
    },
    SiswaAcces() {
      return sessionStorage.getItem("role") === "siswa";
    },
    login() {
      return sessionStorage.getItem("USER_DATA");
    },
  },
  methods: {
    // untuk logout
    out() {
      sessionStorage.clear();
      this.$router.push("/");
    },
  },
};
</script>

<style scoped>
.nav-item {
  padding: 5px;
  border: 1px solid;
  border-color: white;
  margin-left: 180px;
}
.image {
  width: 70px;
  color: white;
}
.nav-link {
  color: white;
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}
.navbar {
  background-color: black;
}
a {
  color: white;
}
.logo {
  font-size: 25px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.klik {
  margin-right: 20px;
}
</style>