<template>
  <div class="induk">
    <div class="all" id="sidebar">
      <button
        class="btn btn-dark"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight"
        style="margin-left: 50px; padding: 15px"
      >
        <i class="fas fa-bars"></i> Menu
      </button>

      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel"
      >
        <div class="offcanvas-header">
          <div class="logo">
            <a class="navbar-brand" href="#"
              ><img
                src="https://www.kibrispdr.org/data/638/icon-warung-makan-12.png"
                alt=""
              />
              Warung Binusa
            </a>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>

        <div class="offcanvas-body">
          <div>
            <br />
            <a href="/makananberat"
              ><i class="fas fa-utensils"></i> Makanan Berat</a
            >
          </div>
          <br />
          <div>
            <a href="/makananringan"
              ><i class="fas fa-cookie-bite"></i> Makanan Ringan</a
            >
          </div>
          <br />
          <div>
            <a href="/minuman"><i class="fas fa-mug-hot"></i> Minuman</a>
          </div>
          <br />
          <div>
            <a href="/obat"
              ><i class="fas fa-prescription-bottle-alt"></i> Obat</a
            >
          </div>
          <br />
          <div>
            <a href="/sembako"
              ><i class="fas fa-shopping-basket"></i> Sembako</a
            >
          </div>
          <br />
          <div>
            <a href="/perlengkapan"
              ><i class="fas fa-sink"></i> Perlengkapan Mandi</a
            >
          </div>
          <br />
          <div>
            <a href="/buku"><i class="fas fa-book"></i> Buku</a>
          </div>
          <br />
          <div>
            <a href="/alattulis"
              ><i class="fas fa-pencil-alt"></i> Alat Tulis</a
            >
          </div>
          <br />
          <div>
            <a href="/mainan"><i class="fas fa-puzzle-piece"></i> Mainan</a>
          </div>
          <br />
          <div>
            <a href="/siswa"
              ><i class="fas fa-graduation-cap"></i> Kebutuhan Siswa</a
            >
          </div>
          <br />
          <div class="login">
            <a
              class="btn btn-dark my-2 my-sm-0"
              @click="out"
              href="/login"
              v-if="!login"
            >
              <i class="fas fa-sign-out-alt"></i>Log-in</a
            >
             <a
              class="btn btn-dark my-2 my-sm-0"
              @click="out"
              href="/"
              v-if="login"
            >
              <i class="fas fa-sign-out-alt"></i>Log-out</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SidebarPage",
  computed:{
    login() {
    return sessionStorage.getItem("USER_DATA");
  },
  },
  methods: {
    sembarang() {
      window.location.reload();
    },
  },
};
</script>
<style scoped>
a {
  color: white;
  text-decoration: none;
  padding: 20px;
}
a:hover {
  color: grey;
}
img {
  width: 70px;
}
.offcanvas-body {
  background-color: black;
}
.login {
  text-align: center;
  margin-top: 4%;
}
.logo a {
  color: black;
}
</style>