<template>
  <div id="app">
    <!-- kirim props ke child -->
     <router-view :cart="cart" :setCart="setCart"/>
  </div>
</template>

<script>

export default {
  name: 'App',
  data() {
    return{
      // penampung data cart
      cart: [],
    };
  },
  methods: {
    // mengubah isi cart
    setCart(cartBaru) {
      this.cart=cartBaru;
    }
  }
}
</script>