<template>
    <div id="alattulis">
        <Navbar /> <br>
        <div class="tag">
        <div class="judul">
    <Sidebar />
    <h2>Alat Tulis :</h2></div>
    <br>
     <!-- Modal Detail AlatTulis -->
    <div
      class="modal fade"
      id="detailalattulis"
      tabindex="-1"
      aria-labelledby="detailAlattilisLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="detailAlattulisLabel">
              Alat Tulis
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nama Barang</th>
                  <th scope="col">Harga</th>
                  <th scope="col">image</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center">
                  <td>{{ formalattulis.namabarang }}</td>
                  <td>{{ formalattulis.harga }}</td>
                  <td><img :src="formalattulis.image" alt="" width="150" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
     <!-- Data Alattulis-->
      <div>
        <table class="table table-dark table-hover text-center">
          <thead>
            <tr>
              <th>No.</th>
              <th>Nama Barang</th>
              <th>Image</th>
              <th>Harga</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(alattuli, index) in alattulis" :key="alattuli.id">
              <td>{{ index + 1 }}</td>
              <td>{{ alattuli.namabarang }}</td>
              <td><img :src="alattuli.image" alt="" width="150" /></td>
              <td>{{ alattuli.harga }}</td>
              <td>
                <button
                style="margin-right:10px"
                  type="button"
                  class="btn btn-success"
                  @click="detailalattuluis(alattuli)"
                  data-bs-toggle="modal"
                  data-bs-target="#detailalattulis"
                >
                Detail
                </button>
            
                <button
                
                  class="btn btn-success"
                  @click="beliAlattulis(alattuli)"
                   v-if="SiswaAcces"
                >
                   Buy
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

    </div>
</template>

<script>
import Navbar from "../components/Navbar.vue"
import Sidebar from "../components/Sidebar.vue"
import axios from "axios";
export default {
 // menerima data dari parents/App.vue
 name: "AlatPage",
   components:{
        Navbar,Sidebar,
       
    },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
         formalattulis: {
        id: "",
        namabarang: "",
        image: "",
        harga: "",
      },
      alattulis: "",
      updateSubmitalattulis: false,
    }
      },
       mounted() {
    this.loadalattulis();
    },
    computed: {
    // untuk akses admin
    SiswaAcces() {
      return sessionStorage.getItem("role") === "siswa";
    },
  },
    methods: {
      loadalattulis() {
      axios
        .get(" http://localhost:3000/alattulis")
        .then((res) => {
          console.log(res.data);
          this.alattulis = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
  
    beliAlattulis(alattuli) {
      this.setCart([...this.cart, alattuli]);
    },
    
       // Detail Alattulis
    detailalattuluis(alattuli) {
      this.formalattulis.id = alattuli.id;
      this.formalattulis.namabarang = alattuli.namabarang;
      this.formalattulis.image = alattuli.image;
      this.formalattulis.harga = alattuli.harga;
    },
    // Close
    close() {
      window.location.reload();
    },
    }
}
</script>
<style>
.judul {
  display: flex;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.tag {
  padding: 20px;
}
</style>