<template>
  <div id="buku">
    <Navbar /><br />
    <div class="tag">
    <div class="judul">
    <Sidebar />
    <h2>Buku :</h2></div><br>
    <!-- Modal Detail Buku -->
    <div
      class="modal fade"
      id="detailbukus"
      tabindex="-1"
      aria-labelledby="detailBukusLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="detailBukusLabel">Buku</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nama Barang</th>
                  <th scope="col">Harga</th>
                  <th scope="col">image</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center">
                  <td>{{ formbukus.namabarang }}</td>
                  <td>{{ formbukus.harga }}</td>
                  <td><img :src="formbukus.image" alt="" width="150" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Data Buku-->
    <div>
      <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Barang</th>
            <th>Image</th>
            <th>Harga</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(buku, index) in bukus" :key="buku.id">
            <td>{{ index + 1 }}</td>
            <td>{{ buku.namabarang }}</td>
            <td><img :src="buku.image" alt="" width="150" /></td>
            <td>{{ buku.harga }}</td>
            <td>
              <button
              style="margin-right:10px"
                type="button"
                class="btn btn-success"
                @click="detailbukus(buku)"
                data-bs-toggle="modal"
                data-bs-target="#detailbukus"
              >
                Detail
              </button>
             
              <button 
                class="btn btn-success"
                @click="belibukus(buku)"
                v-if="SiswaAcces"
              >
                Buy
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Sidebar from "../components/Sidebar.vue";
import axios from "axios";
export default {
  // menerima data dari parents/App.vue
  name: "BukuPage",
  components: {
    Navbar,
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formbukus: {
        id: "",
        namabarang: "",
        image: "",
        harga: "",
      },
      bukus: "",
      updateSubmitbukus: false,
    };
  },
  mounted() {
    this.loadbukus();
  },
  computed: {
    // untuk akses user
    SiswaAcces() {
      return sessionStorage.getItem("role") === "siswa";
    },
  },
  methods: {
    loadbukus() {
      axios
        .get(" http://localhost:3000/bukus")
        .then((res) => {
          console.log(res.data);
          this.bukus = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    
    belibukus(buku) {
      this.setCart([...this.cart, buku]);
    },

    // Detail Buku
    detailbukus(buku) {
      this.formbukus.id = buku.id;
      this.formbukus.namabarang = buku.namabarang;
      this.formbukus.image = buku.image;
      this.formbukus.harga = buku.harga;
    },
    // Close
    close() {
      window.location.reload();
    },
  },
};
</script>
<style>
.judul {
  display: flex;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.tag {
  padding: 20px;
}
</style>