<template>
  <div id="mainan">
    <Navbar />
    <br />
    <div class="tag">
    <div class="judul">
    <Sidebar />
    <h2>Mainan :</h2></div><br>
    <!-- Modal Detail Mainan -->
    <div
      class="modal fade"
      id="detailmainans"
      tabindex="-1"
      aria-labelledby="detailMainansLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="detailMainansLabel">
              Mainan
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nama Barang</th>
                  <th scope="col">Harga</th>
                  <th scope="col">image</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center">
                  <td>{{ formmainans.namabarang }}</td>
                  <td>{{ formmainans.harga }}</td>
                  <td><img :src="formmainans.image" alt="" width="150" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Data Mainan-->
    <div>
      <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Barang</th>
            <th>Image</th>
            <th>Harga</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(mainan, index) in mainans" :key="mainan.id">
            <td>{{ index + 1 }}</td>
            <td>{{ mainan.namabarang }}</td>
            <td><img :src="mainan.image" alt="" width="150" /></td>
            <td>{{ mainan.harga }}</td>
            <td>
              <button
               style="margin-right: 10px"
                type="button"
                class="btn btn-success"
                @click="detailmainans(mainan)"
                data-bs-toggle="modal"
                data-bs-target="#detailmainans"
              >
                Detail
              </button>

              <button
               
                class="btn btn-success"
                @click="belimainans(mainan)"
                v-if="SiswaAcces"
              >
                Buy
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Sidebar from "../components/Sidebar.vue";
import axios from "axios";
export default {
  // menerima data dari parents/App.vue
  name: "MainanPage",
  components: {
    Navbar,
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formmainans: {
        id: "",
        namabarang: "",
        image: "",
        harga: "",
      },
      mainans: "",
      updateSubmitmainans: false,
    };
  },
  mounted() {
    this.loadmainans();
  },
  computed: {
    // untuk akses user
    SiswaAcces() {
      return sessionStorage.getItem("role") === "siswa";
    },
  },
  methods: {
    loadmainans() {
      axios
        .get(" http://localhost:3000/mainans")
        .then((res) => {
          console.log(res.data);
          this.mainans = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    belimainans(mainan) {
      this.setCart([...this.cart, mainan]);
    },

    // Detail Mainan
    detailmainans(mainan) {
      this.formmainans.id = mainan.id;
      this.formmainans.namabarang = mainan.namabarang;
      this.formmainans.image = mainan.image;
      this.formmainans.harga = mainan.harga;
    },
    // Close
    close() {
      window.location.reload();
    },
  },
};
</script>
<style>
.judul {
  display: flex;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.tag {
  padding: 20px;
}
</style>