<template>
  <div id="makananberat">
    <Navbar /><br />
    <div class="tag">
    <div class="judul">
    <Sidebar />
    <h2>Makanan Berat :</h2></div>
    <br>
    <!-- Modal detail Makanan-->
    <div
      class="modal fade"
      id="detailmakanans"
      tabindex="-1"
      aria-labelledby="detailmakananLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="detailmakananLabel">
              Makanan
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr style="text-align: center">
                  <th scope="col">Nama Barang</th>
                  <th scope="col">Harga</th>
                  <th scope="col">Image</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center">
                  <td>{{ formmakananberats.namabarang }}</td>
                  <td>{{ formmakananberats.harga }}</td>
                  <td>
                    <img :src="formmakananberats.image" alt="" width="150" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- data makanan -->
    <div>
      <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Barang</th>
            <th>Image</th>
            <th>Harga</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, index) in makananberats" :key="user.id">
            <td>{{ index + 1 }}</td>
            <td>{{ user.namabarang }}</td>
            <td><img :src="user.image" alt="" width="150" /></td>
            <td>{{ user.harga }}</td>
            <td>
              <!--tombol detail -->
              <button
               style="margin-right: 10px"
                type="button"
                class="btn btn-success"
                data-bs-toggle="modal"
                data-bs-target="#detailmakanans"
                @click="detail(user)"
              >
                Detail
              </button>
              
              <button
                @click="beli(user)"
                class="btn btn-success"
                v-if="SiswaAcces"
              >
                Buy
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Sidebar from "../components/Sidebar.vue";
import axios from "axios";
export default {
  // menerima data dari parents/App.vue
  name: "MakananPage",
  components: {
    Navbar,
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formmakananberats: {
        id: "",
        namabarang: "",
        image: "",
        harga: "",
      },
      makananberats: "",
      updateSubmitmakananberats: false,
    };
  },
  mounted() {
    this.loadmakananberats();
  },
  computed: {
      SiswaAcces() {
        return sessionStorage.getItem("role") === "siswa";
      },
    },
  methods: {
    loadmakananberats() {
      axios
        .get(" http://localhost:3000/makananberats")
        .then((res) => {
          console.log(res.data);
          this.makananberats = res.data; //respon dari rest api dimasukan ke users
        })
        .catch((err) => {
          console.log(err);
        });
    },
    
    beli(user) {
      this.setCart([...this.cart, user]);
    },

    // Detail Makanan
    detail(user) {
      this.formmakananberats.id = user.id;
      this.formmakananberats.namabarang = user.namabarang;
      this.formmakananberats.image = user.image;
      this.formmakananberats.harga = user.harga;
    },
    // Close
    close() {
      window.location.reload();
    },
  },
};
</script>
<style>
.judul {
  display: flex;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.tag {
  padding: 20px;
}
</style>