<template>
  <div id="minuman">
    <Navbar />
    <br />
    <div class="tag">
    <div class="judul">
    <Sidebar />
    <h2>Minuman :</h2></div><br>
    <!-- Modal Detail Minuman -->
    <div
      class="modal fade"
      id="detailminumans"
      tabindex="-1"
      aria-labelledby="detaillModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="detaillModalLabel">Minuman</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nama Barang</th>
                  <th scope="col">image</th>
                  <th scope="col">Harga</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center">
                  <td>{{ formminumans.namabarang }}</td>
                  <td>{{ formminumans.harga }}</td>
                  <td><img :src="formminumans.image" alt="" width="150" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Data minuman -->
    <div>
      <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Barang</th>
            <th>Image</th>
            <th>Harga</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(minuman, index) in minumans" :key="minuman.id">
            <td>{{ index + 1 }}</td>
            <td>{{ minuman.namabarang }}</td>
            <td><img :src="minuman.image" alt="" width="150" /></td>
            <td>{{ minuman.harga }}</td>
            <td>
              <button
               style="margin-right: 10px"
                type="button"
                class="btn btn-success"
                @click="detailminumans(minuman)"
                data-bs-toggle="modal"
                data-bs-target="#detailminumans"
              >
                Detail
              </button>
              
              <button
                class="btn btn-success"
                @click="beliminumans(minuman)"
                v-if="SiswaAcces"
              >
                Buy
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Sidebar from "../components/Sidebar.vue";
import axios from "axios";
export default {
  // menerima data dari parents/App.vue
  name: "MinumanPage",
  components: {
    Navbar,
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formminumans: {
        id: "",
        namabarang: "",
        image: "",
        harga: "",
      },
      minumans: "",
      updateSubmitminumans: false,
    };
  },
  mounted() {
    this.loadminumans();
  },
   computed: {
    // untuk akses user
    SiswaAcces() {
      return sessionStorage.getItem("role") === "siswa";
    },
  },
  methods: {
    loadminumans() {
      axios
        .get(" http://localhost:3000/minumans")
        .then((res) => {
          console.log(res.data);
          this.minumans = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
     
    beliminumans(minuman) {
      this.setCart([...this.cart, minuman]);
    },

    // DETAIL minuman
    detailminumans(minuman) {
      this.formminumans.id = minuman.id;
      this.formminumans.namabarang = minuman.namabarang;
      this.formminumans.image = minuman.image;
      this.formminumans.harga = minuman.harga;
    },
    // Close
    close() {
      window.location.reload();
    },
  },
};
</script>
<style>
.judul {
  display: flex;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.tag {
  padding: 20px;
}
</style>