<template>
  <div id="/makananringan">
    <Navbar />
    <br />
    <div class="tag">
    <div class="judul">
    <Sidebar />
    <h2>Makanan Ringan :</h2></div><br>
    <!-- Modal Detail MknnRingan -->
    <div
      class="modal fade"
      id="detailringans"
      tabindex="-1"
      aria-labelledby="detailRingansLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="detailRingansLabel">
              Makanan Ringan
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nama Barang</th>
                  <th scope="col">Harga</th>
                  <th scope="col">image</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center">
                  <td>{{ formringans.namabarang }}</td>
                  <td>{{ formringans.harga }}</td>
                  <td><img :src="formringans.image" alt="" width="150" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Data Ringans-->
    <div>
      <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Barang</th>
            <th>Image</th>
            <th>Harga</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(ringan, index) in ringans" :key="ringan.id">
            <td>{{ index + 1 }}</td>
            <td>{{ ringan.namabarang }}</td>
            <td><img :src="ringan.image" alt="" width="150" /></td>
            <td>{{ ringan.harga }}</td>
            <td>
              <button
               style="margin-right: 10px"
                type="button"
                class="btn btn-success"
                @click="detailringans(ringan)"
                data-bs-toggle="modal"
                data-bs-target="#detailringans"
              >
                Detail
              </button>
              
              <button
                class="btn btn-success"
                @click="beliringans(ringan)"
                v-if="SiswaAcces"
              >
                Buy
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Sidebar from "../components/Sidebar.vue";
import axios from "axios";
export default {
  // menerima data dari parents/App.vue
  name: "MakananringanPage",
  components: {
    Navbar,
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formringans: {
        id: "",
        namabarang: "",
        image: "",
        harga: "",
      },
      ringans: "",
      updateSubmitringans: false,
    };
  },
  mounted() {
    this.loadringans();
  },
   computed: {
    // untuk akses user
    SiswaAcces() {
      return sessionStorage.getItem("role") === "siswa";
    },
  },
  methods: {
    loadringans() {
      axios
        .get("http://localhost:3000/ringans")
        .then((res) => {
          console.log(res.data);
          this.ringans = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
     
    beliringans(ringan) {
      this.setCart([...this.cart, ringan]);
    },

    // Detail Ringan
    detailringans(ringan) {
      this.formringans.id = ringan.id;
      this.formringans.namabarang = ringan.namabarang;
      this.formringans.image = ringan.image;
      this.formringans.harga = ringan.harga;
    },
    // Close
    close() {
      window.location.reload();
    },
  },
};
</script>
<style>
.judul {
  display: flex;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.tag {
  padding: 20px;
}
</style>