<template>
  <div id="obat">
    <Navbar /><br />
    <div class="tag">
    <div class="judul">
    <Sidebar />
    <h2>Obat :</h2></div><br>
    <!-- Modal Detail obat -->
    <div
      class="modal fade"
      id="detailobats"
      tabindex="-1"
      aria-labelledby="detailObatsLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="detailObatsLabel">Obat</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nama Barang</th>
                  <th scope="col">Harga</th>
                  <th scope="col">image</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center">
                  <td>{{ formobats.namabarang }}</td>
                  <td>{{ formobats.harga }}</td>
                  <td><img :src="formobats.image" alt="" width="150" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Data Obat-->
    <div>
      <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Barang</th>
            <th>Image</th>
            <th>Harga</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(obat, index) in obats" :key="obat.id">
            <td>{{ index + 1 }}</td>
            <td>{{ obat.namabarang }}</td>
            <td><img :src="obat.image" alt="" width="150" /></td>
            <td>{{ obat.harga }}</td>
            <td>
              <button
               style="margin-right: 10px"
                type="button"
                class="btn btn-success"
                @click="detailobats(obat)"
                data-bs-toggle="modal"
                data-bs-target="#detailobats"
              >
                Detail
              </button>
              
              <button
                class="btn btn-success"
                @click="beliobats(obat)"
                v-if="SiswaAcces"
              >
                Buy
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Sidebar from "../components/Sidebar.vue";
import axios from "axios";
export default {
  // menerima data dari parents/App.vue
  name: "ObatPage",
  components: {
    Navbar,
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formobats: {
        id: "",
        namabarang: "",
        image: "",
        harga: "",
      },
      obats: "",
      updateSubmitobats: false,
    };
  },
  mounted() {
    this.loadobats();
  },
   computed: {
    // untuk akses user
    SiswaAcces() {
      return sessionStorage.getItem("role") === "siswa";
    },
  },
  methods: {
    loadobats() {
      axios
        .get(" http://localhost:3000/obats")
        .then((res) => {
          console.log(res.data);
          this.obats = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    beliobats(obat) {
      this.setCart([...this.cart, obat]);
    },

    // Detail Obat
    detailobats(obat) {
      this.formobats.id = obat.id;
      this.formobats.namabarang = obat.namabarang;
      this.formobats.image = obat.image;
      this.formobats.harga = obat.harga;
    },
    // Close
    close() {
      window.location.reload();
    },
  },
};
</script>
<style>
.judul {
  display: flex;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.tag {
  padding: 20px;
}
</style>