<template>
    <div id="perlengkapan">
        <Navbar /><br>
        <div class="tag">
        <div class="judul">
    <Sidebar />
    <h2> Perlengkapan :</h2></div><br>
     <!-- Modal Detail Perlengkapan -->
    <div
      class="modal fade"
      id="detailperlengkapans"
      tabindex="-1"
      aria-labelledby="detailPerlengkapanLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="detailPerlengkapanLabel">
              Perlengkapan Mandi
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nama Barang</th>
                  <th scope="col">Harga</th>
                  <th scope="col">image</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center">
                  <td>{{ formperlengkapans.namabarang }}</td>
                  <td>{{ formperlengkapans.harga }}</td>
                  <td>
                    <img :src="formperlengkapans.image" alt="" width="150" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
     <!-- Data Perlengkapan-->
      <div>
        <table class="table table-dark table-hover text-center">
          <thead>
            <tr>
              <th>No.</th>
              <th>Nama Barang</th>
              <th>Image</th>
              <th>Harga</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(Perlengkapan, index) in perlengkapans"
              :key="Perlengkapan.id"
            >
              <td>{{ index + 1 }}</td>
              <td>{{ Perlengkapan.namabarang }}</td>
              <td><img :src="Perlengkapan.image" alt="" width="150" /></td>
              <td>{{ Perlengkapan.harga }}</td>
              <td>
                <button
                 style="margin-right: 10px"
                  type="button"
                  class="btn btn-success"
                  @click="detailperlengkapans(Perlengkapan)"
                  data-bs-toggle="modal"
                  data-bs-target="#detailperlengkapans"
                >
                  Detail
                </button>
                
                <button
                  class="btn btn-success"
                  @click="beliperlengkapans(perlengkapan)"
                  v-if="SiswaAcces"
                >
                  Buy
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>


    </div>
</template>

<script>
import Navbar from "../components/Navbar.vue"
import Sidebar from "../components/Sidebar.vue"
import axios from "axios";
export default {
 // menerima data dari parents/App.vue
 name: "PerlengkapanPage",
 components:{
        Navbar,Sidebar
    },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
        formperlengkapans: {
        id: "",
        namabarang: "",
        image: "",
        harga: "",
      },
      perlengkapans: "",
      updateSubmitperlengkapans: false,
    }
      },
       mounted() {
    this.loadperlengkapans();
    },
     computed: {
    // untuk akses user
    SiswaAcces() {
      return sessionStorage.getItem("role") === "siswa";
    },
  },
    methods: {
      loadperlengkapans() {
      axios
        .get(" http://localhost:3000/perlengkapans")
        .then((res) => {
          console.log(res.data);
          this.perlengkapans = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
      
    beliperlengkapans(perlengkapan) {
      this.setCart([...this.cart, perlengkapan]);
    },
    
     // Detail perlengkapan
    detailperlengkapans(perlengkapan) {
      this.formperlengkapans.id = perlengkapan.id;
      this.formperlengkapans.namabarang = perlengkapan.namabarang;
      this.formperlengkapans.image = perlengkapan.image;
      this.formperlengkapans.harga = perlengkapan.harga;
    },
    // Close
    close() {
      window.location.reload();
    },
    }
}
</script>
<style>
.judul {
  display: flex;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.tag {
  padding: 20px;
}
</style>