<template>
  <div id="sembako">
    <Navbar /><br />
    <div class="tag">
    <div class="judul">
    <Sidebar />
    <h2>Sembako :</h2></div><br>
    <!-- Modal Detail Sembako -->
    <div
      class="modal fade"
      id="detailsembakos"
      tabindex="-1"
      aria-labelledby="detailSembakosLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="detailSembakosLabel">
              Sembako
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nama Barang</th>
                  <th scope="col">Harga</th>
                  <th scope="col">image</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center">
                  <td>{{ formsembakos.namabarang }}</td>
                  <td>{{ formsembakos.harga }}</td>
                  <td><img :src="formsembakos.image" alt="" width="150" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Data Sembako-->
    <div>
      <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Barang</th>
            <th>Image</th>
            <th>Harga</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(sembako, index) in sembakos" :key="sembako.id">
            <td>{{ index + 1 }}</td>
            <td>{{ sembako.namabarang }}</td>
            <td><img :src="sembako.image" alt="" width="150" /></td>
            <td>{{ sembako.harga }}</td>
            <td>
              <button
               style="margin-right: 10px"
                type="button"
                class="btn btn-success"
                @click="detailsembakos(sembako)"
                data-bs-toggle="modal"
                data-bs-target="#detailsembakos"
              >
                Detail
              </button>
              
              <button
                class="btn btn-success"
                @click="beliSembakos(sembako)"
                v-if="SiswaAcces"
              >
                Buy
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Sidebar from "../components/Sidebar.vue";
import axios from "axios";
export default {
  // menerima data dari parents/App.vue
  name: "SembakoPage",
  components: {
    Navbar,
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formsembakos: {
        id: "",
        namabarang: "",
        image: "",
        harga: "",
      },
      sembakos: "",
      updateSubmitsembakos: false,
    };
  },
  mounted() {
    this.loadsembakos();
  },
   computed: {
    // untuk akses user
    SiswaAcces() {
      return sessionStorage.getItem("role") === "siswa";
    },
  },
  methods: {
    loadsembakos() {
      axios
        .get(" http://localhost:3000/sembakos")
        .then((res) => {
          console.log(res.data);
          this.sembakos = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    beliSembakos(sembako) {
      this.setCart([...this.cart, sembako]);
    },

    // Detail Sembako
    detailsembakos(sembako) {
      this.formsembakos.id = sembako.id;
      this.formsembakos.namabarang = sembako.namabarang;
      this.formsembakos.image = sembako.image;
      this.formsembakos.harga = sembako.harga;
    },
    // Close
    close() {
      window.location.reload();
    },
  },
};
</script>
<style>
.judul {
  display: flex;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.tag {
  padding: 20px;
}
</style>