<template>
  <div id="siswa">
    <Navbar /><br>
    <div class="tag">
    <div class="judul">
    <Sidebar />
    <h2>Koperasi Siswa :</h2></div><br>
    <!-- Modal Detail Siswa -->
    <div
      class="modal fade"
      id="detailsiswas"
      tabindex="-1"
      aria-labelledby="detailSiswasLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="detailSiswasLabel">Siswa</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nama Barang</th>
                  <th scope="col">Harga</th>
                  <th scope="col">image</th>
                </tr>
              </thead>
              <tbody>
                <tr style="text-align: center">
                  <td>{{ formsiswas.namabarang }}</td>
                  <td>{{ formsiswas.harga }}</td>
                  <td><img :src="formsiswas.image" alt="" width="150" /></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Data Siswa-->
    <div>
      <table class="table table-dark table-hover text-center">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama Barang</th>
            <th>Image</th>
            <th>Harga</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(siswa, index) in siswas" :key="siswa.id">
            <td>{{ index + 1 }}</td>
            <td>{{ siswa.namabarang }}</td>
            <td><img :src="siswa.image" alt="" width="150" /></td>
            <td>{{ siswa.harga }}</td>
            <td>
              <button
               style="margin-right: 10px"
                type="button"
                class="btn btn-success"
                @click="detailsiswas(siswa)"
                data-bs-toggle="modal"
                data-bs-target="#detailsiswas"
              >
                Detail
              </button>

              <button
                class="btn btn-success"
                @click="beliSiswa(siswa)"
                v-if="SiswaAcces"
              >
                 Buy
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</template>

<script>
import Navbar from "../components/Navbar.vue";
import Sidebar from "../components/Sidebar.vue";
import axios from "axios";
export default {
  // menerima data dari parents/App.vue
  name: "SiswaPage",
  components: {
    Navbar,
    Sidebar,
  },
  props: {
    cart: Array,
    setCart: Function,
  },
  data() {
    return {
      formsiswas: {
        id: "",
        namabarang: "",
        image: "",
        harga: "",
      },
      siswas: "",
      updateSubmitsiswas: false,
    };
  },
  mounted() {
    this.loadsiswas();
  },
   computed: {
    // untuk akses user
    SiswaAcces() {
      return sessionStorage.getItem("role") === "siswa";
    },
  },
  methods: {
    loadsiswas() {
      axios
        .get(" http://localhost:3000/siswas")
        .then((res) => {
          console.log(res.data);
          this.siswas = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    beliSiswa(siswa) {
      this.setCart([...this.cart, siswa]);
    },

    // Detail Siswa
    detailsiswas(siswa) {
      this.formsiswas.id = siswa.id;
      this.formsiswas.namabarang = siswa.namabarang;
      this.formsiswas.image = siswa.image;
      this.formsiswas.harga = siswa.harga;
    },
    // Close
    close() {
      window.location.reload();
    },
  },
};
</script>
<style>
.judul {
  display: flex;
  gap: 20px;
  font-family: "Poppins", sans-serif;
}
.tag {
  padding: 20px;
}
</style>